.DS_Store
settings.json
data/
User_Answer.txt
App/mil_db/Milvus_Lite.db
App/mil_db/.Milvus_Lite.db.lock
App/tests/.vector_db
__pycache__
App/tests/.deepeval-cache.json
App/tests/.deepeval_telemetry.txt