langchain==0.3.3
langchain-chroma==0.1.4
langchain-community==0.3.2
langchain-core==0.3.12
langchain-ollama==0.2.0
langchain-text-splitters==0.3.0
langchain-milvus==0.1.7
pymilvus==2.4.9
unstructured==0.16.2
unstructured[pdf, docx, pptx]==0.16.2
ragas==0.2.13
streamlit==1.41.1
watchdog==6.0.0
Flask==3.1.0