langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.12
langchain-ollama==0.2.0
langchain-text-splitters==0.3.0
langchain-milvus==0.1.7
pymilvus==2.5.6
unstructured==0.16.2
unstructured[pdf, docx, pptx]==0.16.2
Flask==3.1.0
python-dotenv==1.0.1
pdfminer.six==20231228
flask-cors==5.0.1